<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>页面底部</title>

    <style>
        body {
            background-color: rgba(0, 183, 255, 0.3);
            background-size: 100%;
            margin: 0;
            text-align: center;
        }

        h1 {
            color: rgb(234, 113, 21);
        }

        h2 {
            color: rgb(234, 113, 21);
        }
    </style>

</head>

<body>
<div id="app" th:fragment="footer"></div>
<!-- 引入Vue.js -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>

<script>
    // Vue组件
    const DateDisplay = {
        template: `
          <div class="container">
          <h2>{{ date }}{{ week }}</h2>
          </div>
        `,
        data() {
            return {
                date: '',
                week: ''
            }
        },
        mounted() {
            this.getDate()
        },
        methods: {
            getDate() {
                const today = new Date()
                const year = today.getFullYear()
                const month = today.getMonth() + 1
                const day = today.getDate()

                const weekDay = ['周日', '周一', '周二', '周三', '周四', '周五', '周六']
                const dayOfWeek = today.getDay()
                const week = weekDay[dayOfWeek]

                this.date = `${year}年${month}月${day}日`
                this.week = week
            }
        }
    }

    new Vue({
        el: '#app',
        components: {
            DateDisplay
        },
        template: '<date-display/>'
    })
</script>
</body>
</html>