<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>project02</title>
    <link th:href="@{/css/app.c5f882e5ca818d8ed0abbf0783f1569a.css}" rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript th:src="@{/js/manifest.2ae2e69a05c33dfc65f8.js}"></script>
<script type=text/javascript th:src="@{/js/vendor.4a574697589c5401f3d6.js}"></script>
<script type=text/javascript th:src="@{/js/app.861092f36083638f512e.js}"></script>

<a th:href="@{/elder}" th:text="返回主界面"></a>
</body>
</html>